body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
.container.principal{
    
    display: flex;
    justify-items: center;
    align-items: center;
}

.titulo h1{
    margin-top: 10px;
    text-align: center;
}

.contenido p{
    font-size:100%;
}
.botones button{
    margin-top: 20px;
    margin-right: 5px;
}

.container-img{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.encabezado{
    margin: 10px;
}

.nav-item{
    margin: 0 5px;
}

.img-fluid{
    margin-top: 100px;
}