body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.buscador{
  margin-left: 300px;
}
/* #search-box {
  margin: 20px;
} */
#search-input {
  width: 200px;
  padding: 10px;
  height: 35px;
}


#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

#card-container div {
  margin: 10px;
}

.card img {
  text-align: center;
  height: 18rem;
}

#results{
  color: #5b8cff;
}

#search-form{
  display: flex;
  justify-content: center;
  align-items: center;
}