body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.buscador{
  margin-left: 300px;
}
#search-box {
  margin: 20px;
}
#search-input {
  width: 200px;
  padding: 10px;
  height: 35px;
}

.btn{
  height: 36px;
  border: 1.2px solid black;
  border-radius: 1em;
  font-size: 15px;
}
#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#card-container div {
  margin: 10px;
}

.card img {
  text-align: center;
  height: 18rem;
}

#results{
  color: #5b8cff;
}
